.nav {
  display: grid;
  grid-template-columns: min-content min-content min-content min-content;
  grid-gap: 25px;
}

.headerGrid {
  align-items: center;
  justify-content: center;
}

.header {
  padding: 10px;
  border-radius: 25px;
  position: fixed;
  top:0;
  right: 3%;
  left:2%;
  .logo {
    display: flex;
    justify-content: center;
  }

  .menuButtonBlock {
    display: none;

    .menuButton {
      width: 50px;

      &:hover {
        cursor: pointer;
      }

      & div {
        background-color: #fff;
        width: 50px;
        height: 3px;
        margin-top: 5px;
      }
    }

    .cont {
      margin-top: 34px;
      position: absolute;
      transition: 1s;
      width: 450px;
      border-radius: 25px;
      padding: 25px;

      .wrapMenuList {
        display: flex;
        justify-content: center;

        & li {
          margin-inline: 10px;
          display: flex;
          justify-content: center;
        }

      }
    }


  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 660px) {
  .header {
    padding-inline: 25px;

    .logo {
      text-align: center;
    }

    .menuGrid {
      display: none;
    }

    .menuButtonBlock {
      display: flex;
      align-content: center;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 460px) {

  .wrapMenuList {
    flex-direction: column;
  }

}